<!DOCTYPE html>
<html>
<head>
    <title>College Marketplace</title>
    <style>
        * {
            font-family: "Poppins", sans-serif;
        }

        body {
            display: flex;
            max-width: 2000px;
            margin: auto;
            padding-top: 60px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        div {
            border: 1.5px solid #a3a3a3;
            padding: 30px;
            margin: 20px;
            width: 500px;
        }
    </style>
</head>
<body> 
    
</body>
</html>

