.menu {
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 130px;
  max-width: fit-content;
  align-items: baseline;
}

.dashboard {
  display: flex;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.button.back,
.button.create-item,
.button.manage-item,
.button.logout {
  align-items: center;
  background-color: var(--alabaster);
  color: var(--bastille);
  border-radius: 12px;
  box-shadow: 3px 3px 10px #00000033;
  display: flex;
  height: 50px;
  width: 242px;
  padding: 5px 30px;
  cursor: pointer;
  border: none;
  font-size: 19px;
  font-weight: 550;
  margin-top: 55px;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--dodger-blue);
  color: var(--alabaster) !important;
}

.button.logout:hover {
  background-color: var(--alabaster) !important;
  color: #FF2F88 !important;
}
