<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<div class="menu">
    <div class="dashboard">Dashboard</div>
    <button class="button back" style="color: var(--dodger-blue);" onclick="location.href='/home';"> <img class="back-icon" src="static/images/back-icon@2x.svg" /> Back </button>
    <button class="button manage-item" onclick="location.href='/manage';"> <img class="folder-icon" src="static/images/akar-icons-folder@2x.svg" /> Manage Items </button>
    <button class="button create-item" onclick="location.href='/sell';"> <img class="plus-icon" src="static/images/ant-design-plus-outlined@2x.svg" /> Create Item </button>
    <button class="button logout" onclick="location.href='/logout';"> <img class="logout-icon" src="static/images/radix-icons-exit@2x.svg" /> Logout</button>
</div>