<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<div class="menu">
    <div class="dashboard">Dashboard</div>
    <button class="button back" style="color: var(--dodger-blue);" onclick="location.href='/home';">Back</button>
    <button class="button manage-item" onclick="location.href='/manage';">Manage Items</button>
    <button class="button create-item" onclick="location.href='/sell';">Create Item</button>
    <button class="button logout" onclick="location.href='/logout';">Logout</button>
</div>