<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/firebase.js"></script>
    <script type="module" src="/firebase_signin.js"></script>

</head>

<body>
    <div class="container">
        <div class="forms" style="height: 440px !important;">
            <div class="form login">
                <span class="title">LOGIN</span>
                <form method="POST">
                    <div class="input-field">
                        <input type="email" id="email" name="email" placeholder="Enter your email" autocomplete="off" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="off" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field button">
                        <button class="input-field button" type="submit" id="btn">Login</button>
                    </div>
                    <div class="login-signup">
                        <span class="text">Not a member?
                          <a href="/signup.html" class="text signup-link">Signup Now</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
