{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>College Marketplace</title>
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/' + item['item_id']|string + '.png') }}" class="center" style="max-width: 512px">
        <div class="details">
            <div class="item-name">{{ item['item_name'] }} </div>
            <div class="price"><p class="tag">Price:</p> ${{ item['item_price'] }}</div>
            <button style="font-size: 22px;" class="button" type="submit" id="btn"><a href="/chat/{{ seller['user_id'] }}">Message Seller</a></button>
        </div>
    </div>

    <h1>Description</h1>
    <div>
        <p>{{ item['item_description'] }}</p>
    </div>

    <div class="seller-info">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/directions?key={{ API_KEY }}&origin=place_id%3A{{ user_zip }}&destination=place_id%3A{{ seller_zip }}">
        </iframe>
        <div class="seller">
            <h2>Seller Information</h2>

            <h3>Username: <label>{{ seller['user_name'] }}</label> </h3>
            <!--<h3>Email: <label>{{ seller['user_email'] }}</label> </h3>-->
            {% if distance == 0 %}
                <h3>Approximate distance: <label>Right around the corner</label> </h3>
            {% else %}
                <h3>Approximate distance: <label>{{ distance }} miles</label> </h3>
            {% endif %}
        </div>
        
    </div>
</body>

</html>
{% endblock content %}