<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <title>College Marketplace</title>
</head>

<body>
    <div class="navbar">
        <div class="title"><a href="/home">College Marketplace</a></div>
        <input class="search" type="text" placeholder="Search">
        {% if user_data == false %}
            <button class="button" onclick="location.href='/login';">Login/Signup</button>
        {% else %}
            <div>
                <button class="button" onclick="location.href='/sell';">My Account</button>
                <button class="button" onclick="location.href='/sell';">List Item</button>
                <button class="button" onclick="location.href='/logout';">Logout</button>
            </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}

<footer>
    <div>Copyright 2022 College Marketplace</div>
    <div>Made for students, by students ❤️</div>
</footer>
</body>

</html>