{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
</head>

<div class="menu">
     <h1 class="dashboard">Messages</h1>
      {% for other_user in users_list %}
        <div>
            <button class="button" onclick="location.href='/chat/{{other_user['important_id']}}'"> 
            <h2>{{ other_user['user_name'] }} </h2>
            <p>{{ other_user['message_content'] }}</p>
            </button>
        </div>
    {% endfor %}
</div>

<div class='container'>
    <!--Get Messages-->
    <div class='messages'>
    <div style="height: 500px; overflow: auto; ">
    {% for message in message_list %}
        {% if message['sender_id'] == sender['user_id'] %}
            <h1>You said:</h1>
            <p>{{message['message_content']}}</p>
            <br>
        {% else %}
            <h1> {{receiver['user_name']}} said: </h1>
            <p> {{message['message_content']}} </p>
            <br>
        {% endif %}
    {% endfor %}
    </div>

    <form method="POST">
        <label for="message content">Message Content</label>
        <div>
            <textarea name="messageContent" id="message content" placeholder="Send a message to {{ receiver['user_name'] }}..." required></textarea>
        </div>
        <button class="" type="submit" id="btn">Send</button>
    </form>
    </div>
</div>
{% endblock content %}