{% extends "layout.html" %}
{% block content %}
    <head><link rel="stylesheet" href="{{ url_for('static', filename='css/create_item.css') }}"></head>
    <div class="menu">
        <div class="dashboard">Dashboard</div>
        <button class="button back" onclick="location.href='/home';">Back</button>
        <button class="button create-item" onclick="location.href='/sell';">Create Item</button>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="card">
                <label>Upload Photo</label>
                <div class="drop_box">
                    <header>
                        <h4>Select File here</h4>
                    </header>
                    <p>Files Supported: PNG, JPEG</p>
                    <div class="btn-wrapper">
                        <button class="btn">Choose File</button>
                        <input type="file" id="photo" for="photo" name="photo" accept=".png,.jpeg">
                    </div>
                </div>
                <label for="item name">Item Name</label>
                <div>
                    <input type="name" id="name" name="name" autocomplete="off" placeholder="Enter name">
                </div>
                <label for="item price">Price</label>
                <div>
                    <input type="text" id="price" name="price" autocomplete="off" placeholder="Enter price">
                </div>
                <label for="item description">Description</label>
                <div>
                    <textarea name="itemDesc" id="item description" placeholder="Item description"></textarea>
                </div>
                <div><button type="submit">Post</button></div>
            </div>
        </div>
    </form>
{% endblock content %}