{% extends "layout.html" %}
{% block content %}
    <head><link rel="stylesheet" href="{{ url_for('static', filename='css/create_item.css') }}"></head>
    {% include "dashboard.html" %}
    <form method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="card">
                <label>Upload Photo</label>
                <div class="drop_box">
                    <header>
                        <h4>Select File here</h4>
                    </header>
                    <p>Files Supported: PNG, JPEG</p>
                    <div class="btn-wrapper">
                        <label for="photo">Upload Image</label>
                        <input type="file" id="photo" for="photo" name="photo" accept=".png,.jpeg,.jpg" onchange='updateFile()'>
                    </div>
                    <p id="file_name"></p>
                </div>
                <label for="item name">Item Name</label>
                <div>
                    <input type="name" id="name" name="name" autocomplete="off" placeholder="Enter name">
                </div>
                <label for="item price">Price</label>
                <div>
                    <input type="number" id="price" name="price" autocomplete="off" placeholder="Enter price">
                </div>
                <label for="item description">Description</label>
                <div>
                    <textarea name="itemDesc" id="item description" placeholder="Item description"></textarea>
                </div>
                <div><button type="submit">Post</button></div>
            </div>
        </div>
    </form>

    <script>
        file_name = document.getElementById('file_name');
        photo_input = document.getElementById('photo');

        function updateFile() {
            var filename = photo_input.value.replace(/^.*[\\\/]/, '')
            file_name.innerHTML = filename;
        }
        
    </script>
{% endblock content %}