{% extends "layout.html" %} {% block content %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
</head>
<h1> {{ seller_data['user_name'].capitalize() }}'s Profile </h1>
{% if user_data['user_id'] != seller_data['user_id'] %}
<div>
    <br>
    <button style="font-size: 22px;" class="button" type="submit" id="btn">
        <a href="/chat/{{ seller_data['user_id'] }}">Message User</a></button>
    <button style="font-size: 22px;" class="button" type="submit" id="btn">
        <a href="/send_report/{{ seller_data['user_id'] }}">Report User</a></button>
    <br>
</div>

<div>
    <h2> Post a Review Here! </h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="card">
                <label for="score">Score (out of 10. no decimals)</label>
                <div>
                    <input type="number" id="score" name="score" autocomplete="off">
                </div>
                <label for="reviewContent">Review Content</label>
                <div>
                    <textarea name="reviewContent" id="reviewContent"></textarea>
                </div>
                <div><button type="submit">Post</button></div>
            </div>
        </div>
    </form>
    <h2> Other User Reviews </h2>
    {% for review in review_list %}

            <div>
            <h3> <a href="/user/{{ review['user_id'] }}">{{review['user_name']}}</a> gave this user a {{review['review_score']}}/10</h3>
            <p> {{review['review_text']}} </p>
            </div>

    {% endfor %}
    <h2> Items this User has Listed </h2>
        {% if item_list|length < 1 %}
            <br>
            <div style="text-align:center;">
                <h1>No Listed Items</h1>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        {% else %}
            {% for item in item_list %}
                {% if item['active'] == 1 %}
                    <a href="/item/{{ item['item_id'] }}"><img src="{{ url_for('static', filename='images/' + item['item_id']|string + '.png') }}" class="center" style="max-width: 320px; max-height: 180px;"></a>
                        <div class="item-name"><a href="/item/{{ item['item_id'] }}">{{ item['item_name'] }}</a></div>
                        <div class="price">
                            <div>
                                <p class="tag">Price: </p>${{ item['item_price'] }}
                            </div>

                        </div>
                {% endif %}
            {% endfor %}
        {% endif %}
{% else %}
    <br> 
    <br>
    <h2>See what other users have to say about you!</h2>
    {% for review in review_list %}
            <div>
            <h3> <a href="/user/{{ review['user_id'] }}">{{review['user_name']}}</a> gave this user a {{review['review_score']}}/10</h3>
            <p> {{review['review_text']}} </p>
            </div>
    {% endfor %}
{% endif %}
{% endblock content %}