{% extends "layout.html" %}
{% block content %}
    {{ seller_data }}'s reviews: <br>
    {% for u in user_ids %}
        review from {{ u }} : <br>
    {% endfor %}

    {% for review in reviews %}
            {% for key, val in review.items() %}
                {% if key != 'review_id' and key != 'seller_id' and key != 'user_id' %}
                    {{ key }}: {{ val }}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <br><br>

    {{ data }}
<br><br>
    sellers items:
    {{ items }}
{% endblock content %}